<div class="contenedor">
    <form class="formulario">
        <fieldset>
          <legend>¿Qué tipo de Jugador eres?</legend>
          <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Ingresa tu dirección de correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
            <small id="emailHelp" class="form-text text-muted">No compartas tus datos con nadie más.</small>
          </div>
          <div>
            <label for="exampleInputPassword1" class="form-label mt-4">Ingresa tu contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" autocomplete="off">
          </div>
          <div>
            <label for="exampleSelect1" class="form-label mt-4">¿Cúal es el tiempo en promedio que dedicas a los videojuegos?</label>
            <select class="form-select" id="exampleSelect1">
              <option>1-2 horas al dia</option>
              <option>2-4 horas al dia</option>
              <option>4-6 horas al dia</option>
              <option>Más de 10 horas del dia</option>
            </select>
          </div>
          <div>
            <label for="exampleSelect1" class="form-label mt-4">De los siguientes Titulos, ¿Cúal no conoces? </label>
            <select class="form-select" id="exampleSelect1">
              <option>Schedule 1</option>
              <option>Red Dead Redemption 2</option>
              <option>Cyberpunk 2077</option>
              <option>Horizon Forbidden West™</option>
            </select>
          </div>
          <div>
            <label for="exampleTextarea" class="form-label mt-4">¿Qué opinas de los juegos de Mundo abierto?</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <fieldset>
            <legend class="mt-4">¿Qué prefieres?</legend>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
              <label class="form-check-label" for="optionsRadios1">
                MMORPG
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              <label class="form-check-label" for="optionsRadios2">
                Shooters
              </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                <label class="form-check-label" for="optionsRadios1">
                  Aventura
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                <label class="form-check-label" for="optionsRadios1">
                  Estrategia
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                <label class="form-check-label" for="optionsRadios1">
                  Simulación
                </label>
              </div>
            <legend class="mt-4">¿Qué Titulos has jugado?</legend>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Elden Ring</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
              <label class="form-check-label" for="flexSwitchCheckChecked">Red Dead Redemption 2 </label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                <label class="form-check-label" for="flexSwitchCheckChecked">Persona 5 Royal </label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                <label class="form-check-label" for="flexSwitchCheckChecked">	
                    The Legend of Zelda: Tears of the Kingdom</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                <label class="form-check-label" for="flexSwitchCheckChecked">	
                    Baldur's Gate 3 </label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                <label class="form-check-label" for="flexSwitchCheckChecked">The Last of Us </label>
              </div>
          </fieldset>
          <fieldset>
            <legend class="mt-4">Rangos </legend>
              <label for="customRange1" class="form-label">¿Cómo calificas tu satifacción durante tus sesiones de juego?</label>
              <input type="range" class="form-range" id="customRange1">
              <label for="customRange1" class="form-label">¿Qué grado exigencia te calificas al momento de evaluar los graficos de un videojuego?</label>
              <input type="range" class="form-range" id="customRange1">
              <label for="customRange1" class="form-label">¿La experiencia Multijugador es de tu agrado?</label>
              <input type="range" class="form-range" id="customRange1">
          </fieldset>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
</div>
